/* CSS Document */
@charset "UTF-8";
/* CSS used here will be applied after bootstrap.css */
/* The main typography is Josefin Sans and the secondary font is Open Sans - import the two fonts from Google Font --> */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
/* Website's main colours are specified at the root */
:root {
  --orange: #D14B00;
  --purple: #573C79;
  --yellow: #E5AE00;
  --brown: #241E13;
  --pink: #F0D5CA;
  --offwhite: #F7F1F1;
}
html, main {
  overflow-x: hidden;
  width: 100%;
}
/* The font of the body text is in open sans, standard font size is 1rem = 16px and the font weight is 400 which is normal weight */
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  min-height: 100vh;
}
/* The font of the headings and label are in Josefin Sans and the fallback font is Sans serif and font size for each heading is vary */
h1, h2, h3, h4, label {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 800;
  text-shadow: -2px 1px 6px rgba(0, 0, 0, 0.32);
}
h1 {
  font-size: 2.6rem;
  line-height: 1.5rem;
  padding: 1.5rem;
  color: var(--brown);
}
h2 {
  font-size: 2rem;
  color: var(--orange);
}
h3 {
  font-size: 1.2rem;
  color: var(--brown);
  padding-top: 2.3rem;
}
p, h4, label {
  color: var(--brown);
}
/* Link colour is offwhite, unless otherwise specified */
a, a:hover, a:link, a:active, a:visited {
  color: var(--offwhite);
  text-decoration: none;
}
.one-word-colour {
	color: var(--purple);
}
.animate-heading {
  animation-duration: 1.5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* Footer email link and phone link are purple when they're hover or active */
.email-link:hover, .email-link:active, .phone-link:hover, .phone-link:active {
  color: var(--purple);
  text-decoration: none;
}
/* Colour of the footer paragraph is offwhite */
.footer p {
  color: var(--offwhite);
  text-decoration: none;
}
/* Setting style for the navigation - nav background colour is yellow */
.navbar {
  background-color: var(--yellow);
  margin-bottom: -1rem;
}
/* Nav is purple when it's not active or hover */
.navbar-dark .navbar-nav .nav-link {
  color: var(--purple);
  font-weight: 600;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
/* When nav is active, hover or focus it will turn to orange */
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
  color: var(--orange);
}
.navbar-dark .navbar-toggler {
  border: 0;
}
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
/* This is a nav toggle (hamburger menu) for mobile/tablet devices - the nav will change to a hamburger menu when the website is in mobile or tablet view */
.navbar-dark .navbar-toggler-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome; /* Declaring font awesome font for toggle- style | variant | weight | size/line-height | family */
  font-size: inherit;
  text-rendering: auto; /* This will provides the browswer with the information on how best to optimise when rendering text. In this case the text-rendering is set to auto which means that the browser should choose the appropriate method between speed, legibility and geometric precision */
  background-image: none;
  color: var(--purple);
  -webkit-font-smoothing: antialiased; /* Remove and reduce the jagged distortions in font */
  -moz-osx-font-smoothing: grayscale;
}
.navbar-dark .navbar-toggler-icon:before {
  content: "\f0c9"; /* Using Font awesome for the hamburger icon. The icon is fetched using content value */
}
/* To make the nav responsive, aria-expanded attribute is being used to indicate the state of a collapsible element */
.navbar-dark .navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
  content: "\f0c9";
}
/* Setting the logo size */
.logo {
  width: 27vh;
}
/* Jumbotron is being used to display a full width img and text - this is being used to draw the users' attention */
.jumbotron {
  background-color: var(--purple);
  margin-bottom: -5rem;
  width: 100%;
  height: auto;
}

/* Add paddings for cols in x-small devices, small devices, mid devices and large devices */
.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
  padding-top: 0;
  padding-right: 20%;
  padding-bottom: 4%;
  padding-left: 20%;
}
/* Teaven logo in 'Find our stores' section */
.find-logo {
  width: 43vh;
  padding-bottom: 2rem;
}
.margin-top-25 {
  margin-top: 25px;
}

.form-title {
  padding: 1.5625rem;
  font-size: 1.875rem;
  font-weight: 300;
}
.form-group .form-control {
  border-bottom: 1px;
  border-style: none none solid none;
  border-radius: 0;
  border-color: #000;
}
.form-group .form-control:focus {
  box-shadow: none;
  border-width: 0 0 2px 0;
  border-color: #000;
}
.form-control {
  padding: 0;
}
.error {
    color: red;
  
}
textarea {
  resize: none;
}
/* Style input boxes */
input {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: none;
  border-bottom: thin solid black;
}
/* Style form submit button */
.submit-btn {
  position: relative;
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  margin: 1.5rem;
  margin-left: 0;
  background-color: var(--brown);
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
  color: var(--offwhite);
  font-weight: 400;
  font-size: 1rem;
  overflow: hidden;
  box-shadow: 0px 0.5rem 0.938rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  width: 50%;
}
.submit-btn:hover {
  text-decoration: none;
  background-color: var(--orange);
  box-shadow: 0px 6px 20px var(--brown);
  color: var(--offwhite);
  transform: translateY(-7px);
}
.submitted {
  text-align: center;
}
.submitted h2 {
  padding-top: 2%;
  padding-bottom: 2%;
}
table {
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 5%;
}
.name {
  color: var(--orange);
  float: right;
  padding-right: 2%;
  font-weight: bold;
}
.value {
  padding-left: 2%;
}
/* Styling 'Live Chat' button */
.btn-primary {
  position: relative;
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  margin: 1.5rem;
  margin-left: 0;
  background-color: var(--orange);
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem;
  overflow: hidden;
  box-shadow: 0px 0.5rem 0.938rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  width: 50%;
}
.btn-primary:hover {
  text-decoration: none;
  background-color: var(--purple);
  box-shadow: 0px 6px 20px var(--brown);
  color: var(--offwhite);
  transform: translateY(-7px);
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 34%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  position: absolute;
}
.our-stores-text {
  color: var(--offwhite);
}
.footer {
  background-color: var(--orange);
  color: var(--offwhite);
  padding: 1.5rem;
}
/* Paddings of soical media icons, thoese icons are located in the footer */
.fab {
  padding-top: 4rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}
/* padding for the shopping cart icon in navbar */
.fas {
  padding-left: 1rem;
}
/* Footer logo is set to 100% width - by setting the width 100% the logo will be responsive */
.footer-logo {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer .links ul {
  list-style-type: none;
}
/* Styling footer contact info links */
.footer .links li a {
  color: var(--offswhite);
  transition: color 0.2s;
  line-height: 2.4rem;
}
.footer .links li a:hover {
  text-decoration: none;
  color: var(--brown);
}
.footer-socialmedia {
  padding: 0;
}
.footer-socialmedia i {
  font-size: 1.3rem;
}
/* Footer social media icons colour */
.footer-socialmedia a {
  color: var(--offwhite);
  transition: color 0.2s;
}
.footer-socialmedia a:hover {
  color: var(--brown);
}
/* Add a top border to the copyright text to separate it from the footer content */
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.py-5 {
  padding-top: 7rem !important;
  padding-bottom: 4rem !important;
}
/* Design for tablet browsers */
@media screen and (max-width: 768px) {
  .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    padding-top: 0;
    padding-right: 10%;
    padding-bottom: 4%;
    padding-left: 10%;
  }
  .footer-socialmedia i {
    font-size: 1.3rem;
  }
  /* Paddings of soical media icons */
  .fab {
    padding-top: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
  }
  h1, h2 {
    line-height: 3.2rem;
  }
  h3 {
    font-size: 1.2rem;
    line-height: 0;
  }
  .py-5 {
    padding-bottom: 2rem !important;
    padding-top: 5rem !important;
  }
  .form-title {
    font-size: 1.25rem;
  }
  .map-responsive {
    padding-bottom: 30rem;
  }
  .jumbotron {
    background-color: var(--purple);
    margin-bottom: -2rem;
    width: 100%;
    height: auto;
  }
}
/* Design for mobile browsers */
@media screen and (max-width: 576px) {
  .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    padding-top: 0;
    padding-right: 15%;
    padding-bottom: 4%;
    padding-left: 15%;
  }
  .jumbotron {
    background-color: var(--purple);
    margin-bottom: 0rem;
    width: 100%;
    height: auto;
  }
}