/* CSS Document */
@charset "UTF-8";
/* CSS used here will be applied after bootstrap.css */
/* The main typography is Josefin Sans and the secondary font is Open Sans - import the two fonts from Google Font --> */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
/* Website's main colours are specified at the root */ :root {
  --orange: #D14B00;
  --purple: #573C79;
  --yellow: #E5AE00;
  --brown: #241E13;
  --pink: #F0D5CA;
  --offwhite: #F7F1F1;
}
html, main {
  overflow-x: hidden;
  width: 100%;
}
/* The font of the body text is in open sans, standard font size is 1rem = 16px and the font weight is 400 which is normal weight */
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
/* The font of the headings are in Josefin Sans and the fallback font is Sans serif and font size for each heading is vary */
h1, h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5rem;
  padding: 1.5rem;
  text-shadow: -2px 1px 6px rgba(0, 0, 0, 0.32);
}
h1, h2, h3, p {
  color: var(--brown);
}
h1 {
  font-size: 2.6rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.2rem;
  padding-top: 2.3rem;
}
/* Link colour is offwhite, unless otherwise specified */
a, a:hover, a:link, a:active, a:visited {
  color: var(--offwhite);
  text-decoration: none;
}
/* Footer email link and phone link are purple when they're hover or active */
.email-link:hover, .email-link:active, .phone-link:hover, .phone-link:active {
  color: var(--purple);
  text-decoration: none;
}
/* Colour of the footer paragraph is offwhite */
.footer p {
  color: var(--offwhite);
}
/* Setting style for the navigation - nav background colour is yellow */
.navbar {
  background-color: var(--yellow);
}
/* Nav is purple when it's not active or hover */
.navbar-dark .navbar-nav .nav-link {
  color: var(--purple);
  font-weight: 600;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
/* When nav is active, hover or focus it will turn to orange */
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
  color: var(--orange);
}
.navbar-dark .navbar-toggler {
  border: 0;
}
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
/* This is a nav toggle (hamburger menu) for mobile/tablet devices - the nav will change to a hamburger menu when the website is in mobile or tablet view */
.navbar-dark .navbar-toggler-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome; /* Declaring font awesome font for toggle- style | variant | weight | size/line-height | family */
  font-size: inherit;
  text-rendering: auto; /* This will provides the browswer with the information on how best to optimise when rendering text. In this case the text-rendering is set to auto which means that the browser should choose the appropriate method between speed, legibility and geometric precision */
  background-image: none;
  color: var(--purple);
  -webkit-font-smoothing: antialiased; /* Remove and reduce the jagged distortions in font */
  -moz-osx-font-smoothing: grayscale;
}
.navbar-dark .navbar-toggler-icon:before {
  content: "\f0c9"; /* Using Font awesome for the hamburger icon. The icon is fetched using content value */
}
/* To make the nav responsive, aria-expanded attribute is being used to indicate the state of a collapsible element */
.navbar-dark .navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
  content: "\f0c9";
}
/* Setting the logo size */
.logo {
  width: 27vh;
}
/* Jumbotron is being used to display a full width img and text - this is being used to draw the users' attention */
.jumbotron {
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  width: 100%;
  height: auto;
}
.animate-text {
  animation-duration: 1.5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.one-word-colour {
  color: var(--purple);
}
.heroImg {
  background-image: url("img/bg-intro-home-splash.png");
  background-color: var(--pink);
  width: 100%;
  height: 100%;
  background-size: calc(100% + 50px);
}
.heroImg::before {
  content: "";
  position: absolute;
  height: 100%;
  background-image: url(img/bg-intro-home-bubbleteas.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: 30%;
  background-position: 50% 0%;
}
/* Styling the section one of the bubble tea - each section have their own img and colour */
.sectionOneImg {
  background-image: url("img/homepage-bubbleOne-bg-img.png");
  background-color: var(--offwhite);
  width: 100%;
  height: 100%;
  background-size: calc(100% + 50px);
}
.sectionOneImg::before {
  content: "";
  position: absolute;
  height: 100%;
  background-image: url("img/bg-section-home-bubbleteaOne.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: 27%;
  background-position: 50% 0%;
}
/* Section two of the bubble tea */
.sectionTwoImg {
  background-image: url("img/homepage-bubbleTwo-bg-img.png");
  background-color: var(--pink);
  width: 100%;
  height: 100%;
  background-size: calc(100% + 50px);
}
.sectionTwoImg::before {
  content: "";
  position: absolute;
  height: 100%;
  background-image: url("img/bg-sectionTwo-home-bubbleteaTwo.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: 27%;
  background-position: 50% 0%;
}
/* Section three of the bubble tea */
.sectionThreeImg {
  background-image: url("img/homepage-bubbleThree-bg-img.png");
  background-color: var(--purple);
  width: 100%;
  height: 100%;
  background-size: calc(100% + 50px);
}
.sectionThreeImg::before {
  content: "";
  position: absolute;
  height: 100%;
  background-image: url("img/bg-sectionThree-home-bubbleteaThree.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: 27%;
  background-position: 50% 0%;
}
.mb-4 {
  padding-top: 1rem;
}
/* Styling the 'Shop all' button - this button is sitting underneath the heading in section */
.shopbtn {
  position: relative;
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  margin: 1.5rem;
  background-color: var(--brown);
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
  color: var(--offwhite);
  font-weight: 400;
  font-size: 1rem;
  overflow: hidden;
  box-shadow: 0px 0.5rem 0.938rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}
.shopbtn:hover {
  text-decoration: none;
  background-color: var(--orange);
  box-shadow: 0 0.375rem 1.25rem var(--brown);
  color: var(--offwhite);
  transform: translateY(-7px);
}
.section-button {
  text-align: left;
}
.section {
  min-height: 73vh;
}
.sectionText {
  padding-top: 30vh;
}
.footer {
  background-color: var(--orange);
  color: var(--offwhite);
  padding: 1.5rem;
}
/* Paddings of soical media icons, thoese icons are located in the footer */
.fab {
  padding-top: 4rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}
/* padding for the shopping cart icon in navbar */
.fas {
  padding-left: 1rem;
}
/* Footer logo is set to 100% width - by setting the width 100% the logo will be responsive */
.footer-logo {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer .links ul {
  list-style-type: none;
}
/* Styling footer contact info links */
.footer .links li a {
  color: var(--offswhite);
  transition: color 0.2s;
  line-height: 2.4rem;
}
.footer .links li a:hover {
  text-decoration: none;
  color: var(--brown);
}
.footer-socialmedia {
  padding: 0;
}
.footer-socialmedia i {
  font-size: 1.3rem;
}
/* Footer social media icons colour */
.footer-socialmedia a {
  color: var(--offwhite);
  transition: color 0.2s;
}
.footer-socialmedia a:hover {
  color: var(--brown);
}
/* Add a top border to the copyright text to separate it from the footer content */
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.py-5 {
  padding-top: 11rem !important;
  padding-bottom: 0 !important;
}
@media screen and (max-width: 1224px) {
  .heroImg::before {
    background-size: 39%;
  }
  .sectionOneImg::before {
    background-size: 32%;
  }
  .sectionTwoImg::before {
    background-size: 32%;
  }
  .sectionThreeImg::before {
    background-size: 32%;
  }
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .heroImg {
    background-image: url("img/hero-img-splash-mobile.png");
    background-position: 50% 16% !important;
  }
  .heroImg::before {
    background-size: 51%;
  }
  .sectionOneImg {
    background-image: url("img/homepage-bubbleOne-bg-img-mobile.png");
    background-position: 50% 16% !important;
  }
  .sectionOneImg::before {
    background-size: 40%;
  }
  .sectionTwoImg {
    background-image: url("img/homepage-bubbleTwo-bg-img-mobile.png");
    background-position: 50% 16% !important;
  }
  .sectionTwoImg::before {
    background-size: 40%;
  }
  .sectionThreeImg {
    background-image: url("img/homepage-bubbleThree-bg-img-mobile.png");
    background-position: 50% 16% !important;
  }
  .sectionThreeImg::before {
    background-size: 40%;
  }
}
/* Design for tablet browsers */
@media screen and (max-width: 768px) {
  .py-5 {
    padding-top: 15rem !important;
    padding-bottom: 1rem !important;
  }
  .jumbotron {
    padding: 0;
  }
  .shopbtn, .section-button {
    padding: 1.2rem 3rem;
  }
  .footer-socialmedia i {
    font-size: 1.3rem;
  }
  /* Paddings of soical media icons */
  .fab {
    padding-top: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
  }
  h1, h2 {
    line-height: 3.2rem;
  }
  h3 {
    font-size: 1.2rem;
    line-height: 0;
  }
  .py-5 {
    padding-bottom: 1rem !important;
    padding-top: 14rem !important;
  }
  .heroImg::before {
    background-size: 63%;
    background-position: 50% 16%;
  }
  .sectionOneImg::before {
    background-size: 63%;
    background-position: 50% 16%;
  }
  .sectionTwoImg::before {
    background-size: 63%;
    background-position: 50% 16%;
  }
  .sectionThreeImg::before {
    background-size: 63%;
    background-position: 50% 16%;
  }
}
/* styles for mobile browsers */
@media screen and (max-width: 576px) {
  .heroImg::before {
    background-size: 95%;
    background-position: 50% 16%;
  }
  .sectionOneImg::before {
    background-size: 90%;
    background-position: 50% 16%;
  }
  .sectionTwoImg::before {
    background-size: 90%;
    background-position: 50% 16%;
  }
  .sectionThreeImg::before {
    background-size: 90%;
    background-position: 50% 16%;
  }
}